h1 {
  color: red;
  text-align: center;
  font-size: 100px;
}

h2 {
  color: orange;
  text-align: center;
  font-size: 70px;
}

#image{
  max-width: 30%;
  height: auto;
  margin: left;
  display: block;
  width: 1000px;
  padding: 10px;


}

#image:hover {
  transform: scale(1.5);
}

/* #image2 {
  max-width: 20%;
  height: auto;
  margin: left;
  display: block;
  width: 1000px;
  padding: 10px;

}

#image2:hover {
  transform: scale(1.5);
} */

/* #image1:hover {
  animation-name: width;
  animation-duration: 1000ms;
} */
/*
@keyframes width {
  100% {
    width: 40px;
  }
} */
#main-para {
  font-size: 30px;
}

body {
  background-color: orange;

}

#img1-caption {
  font-weight: bold;
  color: blue;

}

#img2-caption {
  font-weight: bold;
  color: blue;

}

#img-caption {
  font-weight: bold;
  color: blue;

}

/* #img2-caption {
  font-weight: bold;
  color: green;
} */

ul{
  line-height: 30px;
  font-size: 17px;

}

p{
  color: brown;
  text-align: justify;
  font-size: 20px;

}
