h1 {
  color: red;
  text-align: center;
  font-size: 100px;
}

h2 {
  color: blue;
  text-align: center;
  font-size: 70px;
}

img {
  max-width: 30%;
  height: auto;
  margin: left;
  display: block;
  width: 1000px;
  padding: 10px;


}

image:hover {
  transform: scale(1.5);
}


#main-para {
  font-size: 30px;
}

body {
  background-color: orange;

}

#img1-caption {
  font-weight: bold;
  color: blue;

}

#img2-caption {
  font-weight: bold;
  color: blue;

}

#img-caption {
  font-weight: bold;
  color: blue;

}


ul{
  line-height: 30px;
  font-size: 17px;


}

p{
  color: brown;
  text-align: justify;
  font-size: 20px;

}

footer{
  font-size: 12px;
  color: purple;
}

a:hover {
  color: black;
  font-size: 150%;
}
